@section Styles{
    <link rel="stylesheet" href="~/css/index-style.css" rel="stylesheet"/>
}

<div id="requests-today-link" data-request-url="@Url.Action("RequestsForToday", "Home")"></div>
<div class="centerer">
    <h1 id="control-header"></h1>

    <div class="wrap">
        <a class="btn-6" asp-action="ManualForecast" asp-controller="Home">Manual Forecaster<span></span></a>
    </div>
    <div class="wrap">
        <a class="btn-6" asp-action="AutomaticForecast" asp-controller="Home">Automatic Forecaster<span></span></a>
    </div>
</div>

@section Scripts {
    <script src="~/js/index-script.js" asp-append-version="true"></script>
}